.table-wrapper {
  width: 100%;
  overflow-x: auto;
}
.table {
  table-layout: auto;
  border-collapse: collapse;
  box-shadow: 0px 10px 10px #ccc;
  border-radius: 10px;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  min-width: 60em;
  margin: auto;
}

.table thead {
  background-color: #ccc;
  color: #222;
}

.table th,
.table td {
  padding: 0.8rem;
}

.table td {
  border-top: 0.5px solid #ddd;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table tbody tr {
  cursor: pointer;
} 

.table tbody tr:hover {
  background-color: #eee;
}

.expand {
  width: 20%;
}

.edit-btn {
  color: gray;
}

.nav-btn {
  color: green;
}

.delete-btn {
  color: red;
}

.actions-col {
  width: 10%;
}

.to-job-col {
  width: 10%;
}